<div id="start" class="bg-p">
  <div class="header">
    <div class="header-container">
      <div class="header-item">
        <a class="c-p" routerLink="/start">Need help?</a>
      </div>
      <div class="header-item">
        <a class="c-p" routerLink="/start">FAQ</a>
      </div>
      <div class="header-item">
        <a class="c-p" routerLink="/start">About</a>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="content-container">
      <h1>Check in to your appointment or book a new one</h1>
      <button (click)="onGetStarted()" class="button">Get Started</button>
    </div>
  </div>

  <div class="doctors-image">
    <img src="../../assets/doctors.svg" alt="Doctors" />
  </div>
</div>
