<div id="start">
  <div class="top">
    <div class="left" (click)="onNavigateToAboutUs()">
      <div class="start-text">
        <h4>About us</h4>
      </div>
    </div>
    <div class="right" (click)="onNavigateToOurServices()">
      <div class="start-text">
        <h4>Our services</h4>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="left" (click)="onNavigateToPatients()">
      <div class="start-text">
        <h4>Patients & visitors</h4>
      </div>
    </div>
    <div class="right" (click)="onNavigateToContactUs()">
      <div class="start-text">
        <h4>Contact us</h4>
      </div>
    </div>
  </div>
  <div id="start-button" (click)="onNavigateToDashboard()">
    <span>Click here</span>
  </div>
</div>
