<div id="text-keyboard">
  <div class="row">
    <div class="input" (click)="onInput('1')">1</div>
    <div class="input" (click)="onInput('2')">2</div>
    <div class="input" (click)="onInput('3')">3</div>
    <div class="input" (click)="onInput('4')">4</div>
    <div class="input" (click)="onInput('5')">5</div>
    <div class="input" (click)="onInput('6')">6</div>
    <div class="input" (click)="onInput('7')">7</div>
    <div class="input" (click)="onInput('8')">8</div>
    <div class="input" (click)="onInput('9')">9</div>
    <div class="input special" (click)="onInput('DELETE')">DELETE</div>
  </div>
  <div class="row">
    <div class="input" (click)="onInput('Q')">Q</div>
    <div class="input" (click)="onInput('W')">W</div>
    <div class="input" (click)="onInput('E')">E</div>
    <div class="input" (click)="onInput('R')">R</div>
    <div class="input" (click)="onInput('T')">T</div>
    <div class="input" (click)="onInput('Y')">Y</div>
    <div class="input" (click)="onInput('U')">U</div>
    <div class="input" (click)="onInput('I')">I</div>
    <div class="input" (click)="onInput('1O')">O</div>
    <div class="input" (click)="onInput('P')">P</div>
  </div>

  <div class="row">
    <div class="input" (click)="onInput('A')">A</div>
    <div class="input" (click)="onInput('S')">S</div>
    <div class="input" (click)="onInput('D')">D</div>
    <div class="input" (click)="onInput('F')">F</div>
    <div class="input" (click)="onInput('G')">G</div>
    <div class="input" (click)="onInput('H')">H</div>
    <div class="input" (click)="onInput('J')">J</div>
    <div class="input" (click)="onInput('K')">K</div>
    <div class="input" (click)="onInput('L')">L</div>
  </div>
  <div class="row">
    <div class="input" (click)="onInput('Z')">Z</div>
    <div class="input" (click)="onInput('X')">X</div>
    <div class="input" (click)="onInput('C')">C</div>
    <div class="input" (click)="onInput('V')">V</div>
    <div class="input" (click)="onInput('B')">B</div>
    <div class="input" (click)="onInput('N')">N</div>
    <div class="input" (click)="onInput('M')">M</div>
    <div class="input special" (click)="handleSubmit()">OK</div>
  </div>
</div>
