#text-keyboard {
  width: 100vw;
  height: 500px;
  display: flex;
  flex-direction: column;
  background-color: #282c2d;
  padding: 20px;

  .row {
    width: 100%;
    display: flex;

    .input {
      flex: 1;
      background-color: #393b3d;
      border-radius: 10px;
      margin: 10px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      cursor: pointer;
      font-size: 28px;
    }

    .input.special {
      flex: 2;
    }

    .input:hover {
      color: rgb(189, 189, 189);
      background-color: #262a2e;
    }
  }
}
