#keyboard {
  width: 600px;
  background-color: #282c2d;

  display: flex;
  flex-direction: column;

  .row {
    display: flex;

    .input {
      flex: 1;
      background-color: #393b3d;
      border-radius: 10px;
      margin: 10px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      cursor: pointer;
      font-size: 28px;
    }

    .input:hover {
      color: rgb(189, 189, 189);
      background-color: #262a2e;
    }
  }
}
