/* You can add global styles to this file, and also import other style files */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #808080;
}

.button {
  height: 100px;
  width: 300px;
  background-color: rgb(31, 147, 214);
  border-radius: 10px;
  color: white;
  font-size: 24px;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(23, 133, 197);
}

input {
  height: 100px;
  width: 500px;
  border-radius: 10px;
  font-size: 46px !important;
  font-family: "Inter", sans-serif !important;
  border: 1px solid rgb(240, 240, 240);
  text-align: center;
}

input:focus {
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
